<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Wefa.Properties.Settings.WefaDBConnString" connectionString="Data Source=VMWS2016;Initial Catalog=qsystestwefa1405;Persist Security Info=True;User ID=sa;Password=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="gDataSource" value="VMWS2016" />
    <add key="gUserID" value="sa" />
    <add key="gDbPassword" value="sa" />
    <add key="gInitialCatalog" value="qsystestwefa1405" />
    <add key="gSavePath" value="C:\Test" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>