.vs
packages
WEFA/bin
WEFA/Properties
WEFA/Resources
WEFA/obj



WEFA/bin/Debug/Wefa.exe
WEFA/bin/Debug/Wefa.exe
WEFA/bin/Debug/Wefa.pdb
.vs/Wefa/v16/Server/sqlite3/storage.ide
WEFA/obj/Debug/Wefa.exe
WEFA/obj/Debug/Wefa.pdb
WEFA/obj/Release/Wefa.exe
WEFA/obj/Release/Wefa.pdb
WEFA/bin/Release/Wefa.pdb
WEFA/bin/Release/Wefa.exe
